.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3.4rem;
  margin-top: 0.5rem;
}


.userDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: smaller;
}
