.conteinerFilters{
 display: flex;
 justify-content: center;
 margin-top: 10px;
 /* width: 90%; */
}
.conteinerSiorch{
   /* width: 800px; */
width: 20%;
}
.conteinerUserCand{
  display: flex;
  flex-direction:column;
  width: 70%;
}
.conteinerUser{
display: flex;
flex-wrap: wrap;
}
.filterBlock{
  display: flex;
  justify-content: space-between;
}
.searchBlock{
    display: flex;
    /* justify-content: space-between; */
}

.headerUserCard{
  margin-left: 15px;
}
.headerSearch{
  margin-bottom: 25px;
}
